@model Group_11.Models.AppUser

@{
    ViewData["Title"] = "Edit Profile";
}

<h1>Edit</h1>

<h4>Edit Your Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Hidden("userId", Model.Id)
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MiddleInitial" class="control-label"></label>
                <input asp-for="MiddleInitial" class="form-control" />
                <span asp-validation-for="MiddleInitial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Student-only fields-->
            @if (Model != null && ViewBag.UserRole == "Student")
            {
                <div class="form-group">
                    <label asp-for="Birthday" class="control-label"></label>
                    <input asp-for="Birthday" class="form-control" type="date" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="GPA" class="control-label"></label>
                    <input asp-for="GPA" class="form-control" />
                    <span asp-validation-for="GPA" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="GraduationYear" class="control-label"></label>
                    <input asp-for="GraduationYear" class="form-control" />
                    <span asp-validation-for="GraduationYear" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SSN" class="control-label"></label>
                    <input asp-for="SSN" class="form-control" />
                    <span asp-validation-for="SSN" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Zip" class="control-label"></label>
                    <input asp-for="Zip" class="form-control" />
                    <span asp-validation-for="Zip" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <select asp-for="State" class="form-control" asp-items="ViewBag.States"></select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PositionType" class="control-label"></label>
                    <select asp-for="PositionType" class="form-control" asp-items="ViewBag.PositionTypes"></select>
                    <span asp-validation-for="PositionType" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Major" class="control-label"></label>
                    <select name="MajorId" class="form-control" asp-items="ViewBag.Majors"></select>
                </div>
            }

            @if(User.IsInRole("CSO"))
            {
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                @if (Model != null && ViewBag.UserRole == "Recruiter")
                {
                    <div class="form-group">
                        <label asp-for="Company" class="control-label"></label>
                        <select name="CompanyId" class="form-control" asp-items="ViewBag.Company"></select>
                    </div>
                }
            }
            else
            {
                <input type="hidden" asp-for="Status" />
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Profile</a>
</div>

