<h2>Seed all data in order</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">#1 Seed Roles</a>

<a asp-action="SeedIndustries" asp-controller="Seed" class="btn btn-info">#2 Seed Industries</a>

<a asp-action="SeedCompanies" asp-controller="Seed" class="btn btn-info">#3 Seed Companies</a>

<a asp-action="SeedMajors" asp-controller="Seed" class="btn btn-info">#4 Seed Majors</a>

<a asp-action="SeedPeople" asp-controller="Seed" class="btn btn-info">#5 Seed People</a>

<a asp-action="SeedPositions" asp-controller="Seed" class="btn btn-info">#6 Seed Positions</a>

<a asp-action="SeedApplications" asp-controller="Seed" class="btn btn-info">#7 Seed Applications</a>

<a asp-action="SeedInterviews" asp-controller="Seed" class="btn btn-info">#8 Seed Interviews</a>
